apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tensor-fusion.fullname" . }}-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - namespaces
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - endpoints
  verbs:
  - create
- apiGroups:
  - ""
  resourceNames:
  - kube-scheduler
  resources:
  - endpoints
  verbs:
  - get
  - update
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - bindings
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - nodes/finalizers
  - pods/binding
  - pods/exec
  verbs:
  - create
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - replicationcontrollers
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - persistentvolumes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - csinodes
  - csidrivers
  - csistoragecapacities
  - storageclasses
  - volumeattachments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  - extensions
  resources:
  - replicasets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resourceNames:
  - kube-scheduler
  resources:
  - leases
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leasecandidates
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - tensor-fusion.ai
  resources:
  - gpunodeclasses
  - gpunodes
  - gpupools
  - gpuresourcequotas
  - gpus
  - schedulingconfigtemplates
  - tensorfusionclusters
  - tensorfusionconnections
  - tensorfusionworkloads
  - workloadprofiles
  - gpunodeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - tensor-fusion.ai
  resources:
  - gpunodeclasses/finalizers
  - gpunodes/finalizers
  - gpupools/finalizers
  - gpuresourcequotas/finalizers
  - gpus/finalizers
  - schedulingconfigtemplates/finalizers
  - tensorfusionclusters/finalizers
  - tensorfusionconnections/finalizers
  - tensorfusionworkloads/finalizers
  - workloadprofiles/finalizers
  - gpunodeclaims/finalizers
  verbs:
  - update
- apiGroups:
  - tensor-fusion.ai
  resources:
  - gpunodeclasses/status
  - gpunodes/status
  - gpupools/status
  - gpuresourcequotas/status
  - gpus/status
  - schedulingconfigtemplates/status
  - tensorfusionclusters/status
  - tensorfusionconnections/status
  - tensorfusionworkloads/status
  - workloadprofiles/status
  - gpunodeclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - karpenter.sh
  resources:
  - nodeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - karpenter.*
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - resource.k8s.io
  resources:
  - deviceclasses
  - devicetaintrules
  - resourceclaims
  - resourceslices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceclaims
  verbs:
  - patch
  - update
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceclaims/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "tensor-fusion.fullname" . }}-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "tensor-fusion.fullname" . }}-role
subjects:
- kind: ServiceAccount
  name: {{ include "tensor-fusion.serviceAccountName" . }}
  namespace: {{ include "tensor-fusion.namespace" . }}
